@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    /* justify-content: space-around; */
    /* position: relative; */
    padding: 20px;
    height: 320px;
    width: 550px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advice-id {
    margin-top: 15px;
    color: hsl(150, 100%, 66%);
    text-align: center;
    font-size: 12px;
    letter-spacing: 5px;
}

.quote-text-container {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.quote-text {
    text-align: center;
    color: hsl(193, 38%, 86%);
    font-size: 24px;
    letter-spacing: 1px;
}


.seperator {
    transform: scale(.9);
    text-align: center;
}

.dice {
    transform: scale(.8);
}

.dice-btn {   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    margin: auto;
    position: relative;
    bottom: -60px;
    background-color: hsl(150, 100%, 66%);;
    border-radius: 40px;
    border: 0px;
}


.dice-btn:hover {
    cursor: pointer;
}

.dice-btn:active {
    -moz-box-shadow: 0 0 12px hsl(150, 100%, 66%);
    -webkit-box-shadow: 0 0 12px hsl(150, 100%, 66%);
    box-shadow: 0 0 12px hsl(150, 100%, 66%);
}

@media screen and (max-width: 500px) {
    .seperator {
      transform: scale(.8);
    }

    .quote-text {
        font-size: 18px;
    }

  }
